# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Database
*.db
*.sqlite3

# FAISS index
faiss_index/*
# keep .gitkeep
!faiss_index/.gitkeep

# upload files
upload/files/*
!upload/files/.gitkeep

# log files
*.log

# local config files
.env
.env.local
!.env.example

# system files
.DS_Store
Thumbs.db